{%extends "index.html"%}
{%block body%}
<div class="container" style="margin-top:200px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {%-if data-%}
                        <form action="/edit/{{data.id}}" method="POST">
                    {%else%}
                        <form action="{{url_for('.create')}}" method="POST">
                    {%endif%}
                        <div class="form-group">
                            <label for="">Nama</label>
                            <input type="text" class="form-control" name="name" value="{%- if data  -%}{{data.name}}{%else%}{%endif%}">
                        </div>
                        <div class="form-group">
                            <label for="">username</label>
                            <input type="text" class="form-control" name="username" value="{%- if data  -%}{{data.username}}{%else%}{%endif%}">
                        </div>
                        <div class="form-group">
                            <label for="">password</label>
                            <input type="text" class="form-control" name="password" value="{%- if data  -%}{{data.password}}{%else%}{%endif%}">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="kirim">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-12" style="margin-top:100px;">
            <table class="table table-default">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Username</th>
                    <th>password</th>
                    <th>Action</th>
                </tr>
                {%for row in users%}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.password}}</td>
                    <td><form action="/test/delete/" method="POST">
                            <input type="hidden" name="id" value="{{row.id}}">
                            <button type="submit" class="btn btn-warning">Hapus</button>
                    </form>
                    </td>
                    <td><a href="/edit/{{row.id}}" class="btn btn-primary">Update</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{%endblock%}